.container {
    border: 1px solid black;
    border-radius: 4px;
    max-width: 300px;
    padding: 16px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #efefef84;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .title {
    font-weight: 400;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
  }
  
  .button {
    font-size: 18px;
    font-weight: 500;
    width: 100px;
  }
  
  .cancelButton {
    width: 90px;
  }